{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
	<div class="container">
		<h1>Livre index</h1>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}

		<div class="navigation">
			{{ knp_pagination_render(livres) }}
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Auteurs</th>
					<th>Quatrieme</th>
					<th>Date de parution</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
			{% for livre in livres %}
				<tr>
					<td>{{ livre.titre }}</td>
					<td>
					{% for auteur in livre.auteurs %}
						{{auteur.nom}} {{auteur.prenom}}
						{% if auteur != loop.last %}
							|
						{% endif %}	
					{% endfor %}
					</td>
					<td>{{ livre.quatrieme }}</td>
					<td>{{ livre.dateParution|date('d/m/Y') }}</td>
					<td>
						<form method="post" action="{{ path('app_livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
							<a class="btn btn-primary" href="{{ path('app_livre_show', {'id': livre.id}) }}">Voir</a>
							{% if livre.estEmpruntable() and is_granted('IS_AUTHENTICATED_FULLY')%}
								<a href="{{ path('app_livre_emprunt', {'id': livre.id})}}" class="btn btn-primary">Emprunter</a>
							{% endif %}
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
							{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-warning" href="{{ path('app_livre_edit', {'id': livre.id}) }}">Modifier</a>
								<button class="btn btn-danger">Supprimer</button>
							{% endif %}
						</form>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucun élément existant</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<a class="btn btn-success" href="{{ path('app_livre_new') }}">Ajouter un nouveau</a>
	</div>
{% endblock %}
